<ul class="collection">
  {%- for page in collection reversed -%}
  <li class="window">
    <div class="window-titlebar">
      <button class="window-button button-left"></button>
      {% pagelink page %}<span class="window-titlebar-title">{{ page.data.title }}</span>{% endpagelink %}
    </div>
    <div class="window-contents">
      <div class="window-meta">
        {%- assign date = page.data.date | default: nil -%}
        {%- assign tags = page.data.tags | default: nil -%}
        {%- if page.data.images and page.data.images.length > 0 -%}
          {%- liquid 
            assign suffix = page.data.images.length | pluralize: "image"
            assign extra = page.data.images.length | append: " " | append: suffix
            render post-meta.html.liquid, date: date, tags: tags, extra: extra
          -%}
        {%- elsif page.data.permalink == false -%}
          {%- assign hostname = page.data.url | hostname -%}
          {% capture extra %}{% pagelink page %}{{ hostname }}{% endpagelink %}{% endcapture %}
          {% render post-meta.html.liquid, date: date, tags: tags, extra: extra %}
        {%- else -%}
          {% render post-meta.html.liquid, date: date, tags: tags %}
        {%- endif -%}
      </div>
      {%- liquid
        if page.data.preview
          assign preview = page.data.preview
        elsif page.data.images and page.data.images.length > 0
          assign preview = page.data.images[0]
        else
          assign preview = nil
        endif
      -%}
      {%- if preview -%}
      {% pagelink page %}
        {% image src: preview.src, alt: preview.alt, width: 500, play_gif: false %}
      {% endpagelink %}
      {% play_gif preview.src %}
      {%- elsif page.data.permalink == false -%}
      {% pagelink page %}
        <div class="excerpt page-content">{% excerpt page %}</div>
      {% endpagelink %} 
      {%- else -%}
      <div class="excerpt page-content">{% excerpt page %}</div>
      <div class="window-notepad-footer"><span></span></div>
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
</ul>