<ul class="collection">
  {%- for page in collection reversed -%}
  <li class="window">
    <div class="window-titlebar">
      <button class="window-titlebar-button left-button"></button>
      {% comment %} {% pagelink page %}<span class="window-titlebar-title">{{ page.data.title }}</span>{% endpagelink %} {% endcomment %}
    </div>
    <div class="window-contents">
      <div class="window-meta">
        {%- assign date = page.data.date | default: nil -%}
        {%- assign tags = page.data.tags | default: nil -%}
        {%- render post-meta.html.liquid, date: date, tags: tags -%}
      </div>
      {%- liquid
        if page.data.preview
          assign preview = page.data.preview
        elsif page.data.images and page.data.images.length > 0
          assign preview = page.data.images[0]
        else
          assign preview = nil
        endif
      -%}
      {%- if preview -%}
      <a href="{{ page.url | default }}">
        {% include retina-image.liquid, src: preview.src, alt: preview.alt, width: 500, play_gif: false %}
      </a>
      {% play_gif preview.src %}
      {%- else -%}
      <div class="excerpt page-content">{% excerpt page %}</div>
      <div class="window-notepad-footer"><span></span></div>
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
</ul>