<ul class="collection">
  {%- for page in collection reversed -%}
  <li class="window">
    <div class="window-titlebar">
      <button class="window-titlebar-button left-button"></button>
      {% comment %} {% pagelink page %}<span class="window-titlebar-title">{{ page.data.title }}</span>{% endpagelink %} {% endcomment %}
    </div>
    <div class="window-contents">
      <div class="window-meta">
        {%- render post-meta.html.liquid, date: page.data.date, tags: page.data.tags -%}
      </div>
      {%- if page.data.preview -%}
      <a href="{{ page.url }}">
        {% include retina-image.liquid, src: page.data.preview.src, alt: page.data.preview.alt, width: 500 %}
      </a>
      {%- else -%}
      <div class="excerpt page-content">{% excerpt page %}</div>
      <div class="window-notepad-footer"><span></span></div>
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
</ul>