<li>
  <a href="{{ href }}" target="_blank" rel="noopener">
    {%- assign flag_array = flags | split: " " -%}
    {%- for flag in flag_array -%}
    <span role="img" aria-label="Flag of {{ flag_labels[flag] }}" class="flag">{{ flag }}</span>
    {%- endfor -%}
    <span>{{ label }}</span>
  </a>
</li>