<div class="webscape-replay-controls">
  <button class="button" id="webscape-replay">
    <span class="label-replay">
      replay {% include icon-sprite, id: "spray-paint", size: 16, role: "presentation", class: "sprite-replay" %}
    </span>
    <span class="label-cancel">cancel</span>
  </button>
  <img src="/assets/watch.png" class="sprite sprite-watch" eleventy:ignore />
</div>

{% block scripts %}

{% capture global_dimensions %}
globalThis.__DIMENSIONS__ = {{ webscapeDimensions | json }};
{% endcapture %}
<script type="text/javascript">
  {{ global_dimensions }}
  const replayButton = document.getElementById("webscape-replay");
  let replayController;

  replayButton.addEventListener("click", (event) => {
    if (replayButton.classList.contains("webscape-replay-cancel")) {
      cancel();
    } else {
      replay();
    }
  });

  function cancel() {
    if (replayController && replayController.signal.aborted === false) {
      replayController.abort("canceled");
    }
    replayButton.classList.remove("webscape-replay-cancel");
    const canvasContainer = document.getElementById("webscape-canvas");
    if (canvasContainer) canvasContainer.innerHTML = "";
  }

  async function replay() {
    const webscape = document.querySelector(".webscape");
    const orientation = getComputedStyle(webscape).getPropertyValue("--orientation");
    const scale = parseInt(getComputedStyle(webscape).getPropertyValue("--scale"));
    
    if (replayController && replayController.signal.aborted === false) throw new Error("webscape replay already running");
    replayController = new AbortController();

    replayButton.classList.add("webscape-replay-cancel");

    function cleanup() {
      replayButton.classList.remove("webscape-replay-cancel");
    }

    try {
      const response = await fetch(`/webscape.gif?orientation=${orientation}`);

      const buffer = await response.arrayBuffer();
      const width = parseInt(response.headers.get("x-webscape-width"));
      const height = parseInt(response.headers.get("x-webscape-height"));
      const chunkSize = parseInt(response.headers.get("x-webscape-chunk-size"));

      let canvasContainer = document.getElementById("webscape-canvas");
      if (!canvasContainer) {
        canvasContainer = document.createElement("div");
        canvasContainer.id = "webscape-canvas";
        document.querySelector(".webscape").appendChild(canvasContainer);
      }

      const canvas = document.createElement("canvas");
      canvas.width = width;
      canvas.height = height;
      canvas.style.setProperty("image-rendering", "pixelated");
      canvasContainer.replaceChildren(canvas);
      const offscreen = canvas.transferControlToOffscreen();

      const worker = new Worker("/replay.js", { type: "module" });
      replayController.signal.addEventListener("abort", () => worker.terminate());

      worker.addEventListener("message", (event) => {
        switch (event.data.type) {
          case "done": {
            console.log("webscape replay done");
            worker.terminate();
            replayController.abort("done");

            replayButton.classList.remove("webscape-replay-cancel");
            canvasContainer.innerHTML = "";

            break;
          }
          case "error": {
            throw new Error(event.error);
            break;
          }
        }
      });

      worker.postMessage({
        type: "replay",
        canvas: offscreen, 
        buffer, 
        chunkSize, 
        scale, 
        vw: window.innerWidth, 
        vh: window.innerHeight
      }, [offscreen]);

    } catch (error) {
      console.error("webscape replay", error);
      replayController.abort("error");

      replayButton.classList.remove("webscape-replay-cancel");
    }
  }
</script>
{% endblock %}