.collection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  gap: 3rem;
  max-width: 700px;
  margin: 0 auto;
}

.collection .window:nth-child(odd) {
  margin-left: auto;
}

.collection .window {
  max-width: calc(500px + (var(--border-width) * 4) + (4px * var(--ui-scale) * 2));
}

.collection .window img {
  max-width: 100%;
  height: auto;
}

.collection .window .excerpt {
  min-width: 300px;
}

.collection .window-titlebar a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: currentColor;
}

.collection a.page-link:after {
  display: none !important;
}