.donation-banner {
  font-family: var(--monospace);
  background: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  list-style-type: none;
  text-align: center;
  line-height: 1.4;
  height: 1.375rem;
  overflow: hidden;
}

.marquee-list {
  padding: 0;
  margin: 0;
}

.marquee-list+.marquee-list {
  display: none;
}

@media screen and (max-width: 1060px) and (prefers-reduced-motion: no-preference) {
  .donation-marquee {
    display: flex;
  }

  .donation-marquee {
    overflow: hidden;
  }

  .marquee-list {
    display: flex !important;
    gap: 0.5rem;
    padding-right: 0.5rem;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
  }

  .donation-marquee:hover .marquee-list {
    animation-play-state: paused;
  }

  .donation-marquee:focus-within .marquee-list {
    animation-play-state: paused;
  }

  .donation-marquee li {
    white-space: nowrap;
  }
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.donation-links {}

.donation-links a:after {
  display: none !important;
}

.donation-banner li {
  margin: 0 0.25rem;
  display: inline-block;
}

.donation-banner a {
  color: currentColor;
  text-decoration: none;
  display: flex;
  text-transform: lowercase;
}

.donation-banner a span:not(.flag) {
  margin-left: 0.5rem;
}

.donation-banner a:hover,
.donation-banner a:focus {
  text-decoration: underline;
}

/* alert */

.donation-alert {
  font-size: 0.875rem;
}

.donation-alert h3 {
  font-size: inherit;
  margin-top: 0
}

.donation-alert p {
  font-size: 0.7rem;
  text-wrap: balance;
}

.donation-alert .scrollbox {
  margin-top: 1rem;
  width: 273px;
}

.donation-alert ul.donation-links {
  font-family: var(--monospace);
  padding-left: 0;
  font-size: 0.75rem;
  margin: 0;
  flex: 1;
}

.donation-alert ul.donation-links li {
  display: flex;
  border-bottom: var(--border-width) dotted black;
}

.donation-alert ul.donation-links li:last-of-type {
  border-bottom: 0;
}

.donation-alert ul.donation-links a {
  padding: 0.15rem 1rem 0.15rem 0.5rem;
  text-decoration: none;
  color: currentColor;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.donation-alert ul.donation-links span:not(.flag) {
  margin-right: 0.25rem;
}

.donation-alert ul.donation-links a:hover,
.donation-alert ul.donation-links a:focus {
  background-color: black;
  color: white;
  outline: none;
}