.finder {
  font-size: 0.75rem;
}

.finder-item {
  margin: 0;
}

.finder-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 1rem;
}

.finder-icons .finder-item {
  width: 90px;
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.finder-icons .finder-item img {
  image-rendering: pixelated;
}

.finder-icons .finder-item figcaption {
  padding: 0.125rem 0.25rem;
  line-height: 1.5;
}

/* desktop */

.desktop-container {
  display: grid;
  grid-template-columns: 90px 1fr 1fr 90px;
  container-name: desktop-container;
  container-type: inline-size;
}

.desktop-container .desktop-icons:first-child {
  grid-column: 1;
}

.desktop-container .desktop-icons:last-child {
  grid-column: 4;
}

.desktop-container .window {
  grid-column: 2 / 4;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

/* 500px (dialog) + 180px (2x finder icon item, 90px) */
@container desktop-container (max-width: 680px) {
  .desktop-container .desktop-icons:first-child {
    grid-column: 1 / 3;
    justify-content: flex-start;
  }

  .desktop-container .desktop-icons:last-child {
    grid-column: 3 / 5;
    justify-content: flex-end;
  }

  .desktop-container .window {
    grid-column: 1 / 5;
    grid-row: 2;
    margin-bottom: 2rem;
  }

  .finder-icons.desktop-icons {
    display: flex;
    align-items: flex-start;
    gap: 0;
    padding-bottom: 1.5rem;
  }

  .finder-icons.desktop-icons .finder-item {
    width: 70px;
  }
}

.finder-icons.desktop-icons {
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  padding: 0;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.desktop-icons button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.desktop-icons a {
  color: currentColor;
}

.desktop-icons .finder-item img {
  object-fit: cover;
  width: calc((32px + 0.25rem) * var(--ui-scale));
  height: calc((32px + 0.25rem) * var(--ui-scale));
  padding: calc(0.125rem * var(--ui-scale));
}

.desktop-icons .finder-item img,
.desktop-icons .finder-item figcaption {
  background-color: white;
}

.desktop-icons button:active .finder-item img,
.desktop-icons button:active .finder-item figcaption,
.desktop-icons a:active .finder-item img,
.desktop-icons a:active .finder-item figcaption {
  filter: invert(1);
}