.finder {
  font-size: 0.75rem;
}

.finder-item {
  margin: 0;
}

.finder-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 1rem;
}

.finder-icons .finder-item {
  width: 90px;
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.finder-icons .finder-item img {
  image-rendering: pixelated;
}

.finder-icons .finder-item figcaption {
  padding: 0.125rem 0.25rem;
  line-height: 1.5;
}

.finder-icons a {
  color: currentColor;
}

.finder-item img,
.finder-item figcaption {
  background-color: white;
}

/* desktop */

.desktop-container {
  container-name: desktop-container;
  container-type: inline-size;
  position: relative;

  --icon-width: 90px;
  --window-width: 500px;
}

.desktop-container .desktop-icons {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.desktop-icons>.icon-group {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  pointer-events: auto;
}

.desktop-icons>.icon-group:last-child {
  margin-left: auto;
}

.desktop-icons>.spacer {
  flex: 1 0 calc(100% - (var(--icon-width) * 2));
}

.desktop-window {
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.desktop-window>.spacer {
  height: 1rem;
  width: var(--icon-width);
}

.desktop-window>.window {
  width: var(--window-width);
  margin: 0 auto;
  margin-bottom: 0.5rem;
  pointer-events: auto;
}

@container desktop-container (max-width: calc(500px + (2 * 90px))) {
  .desktop-container .desktop-icons {
    position: relative;
    --icon-width: 70px;
  }

  .desktop-icons>.icon-group {
    flex-wrap: nowrap;
  }

  .desktop-icons>.spacer {
    flex: 0 1 auto;
  }

  .desktop-window>.spacer {
    width: 100%;
  }
}

.desktop-icons button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.desktop-icons .finder-icons {
  column-gap: 0;
  padding: 0;
}

.desktop-icons .finder-item {
  width: var(--icon-width);
  flex-basis: var(--icon-width);
}

.desktop-icons .finder-item img {
  object-fit: cover;
  width: calc((32px + 0.25rem) * var(--ui-scale));
  height: calc((32px + 0.25rem) * var(--ui-scale));
  padding: calc(0.125rem * var(--ui-scale));
}

.desktop-icons button:active .finder-item img,
.desktop-icons button:active .finder-item figcaption,
.desktop-icons a:active .finder-item img,
.desktop-icons a:active .finder-item figcaption {
  filter: invert(1);
}