@import "./reset.css";
@import "./spinner.css";
@import "./menubar.css";
@import "./windows.css";
@import "./donation-links.css";
@import "./webscape.css";

@font-face {
  font-family: FindersKeepers;
  src: url(/assets/FindersKeepers.ttf);
}

@font-face {
  font-family: ChiKareGo2;
  src: url(/assets/ChiKareGo2.ttf);
}

@font-face {
  font-family: "Geneva9.2";
  src: url(/assets/geneva-9-2.otf.woff2);
}

:root {
  --ui-scale: 1;
  --border-width: calc(1px * var(--ui-scale));
  --sans-serif: Roboto, Arial, Helvetica, sans-serif;
  --monospace: 'Roboto Mono', 'Courier New', Courier, monospace;
  --finder: FindersKeepers, monospace;
}

body {
  font-family: var(--monospace);
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: white;
  display: table;
}

h2 {
  font-size: 1rem;
  background-color: white;
  display: inline-block;
} */

.root {
  padding: clamp(1.5rem, 5vw, 4rem);
}

footer {
  /* padding: 0.5rem;
  background-color: white;
  border-top: var(--border-width) solid black; */
  margin-top: auto;
}

.hidden {
  display: none;
}

.webscape-controls {
  margin-left: auto;
}

a {
  color: blue;
}

a.external:after {
  content: "";
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M 4 16 L 18 2 Z M 6.5 2 L 18 2 L 18 13.5' stroke='currentColor' fill='transparent' stroke-width='2' /%3E%3C/svg%3E");
  background-color: currentColor;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  vertical-align: -0.125rem;
  margin-left: 0.125rem;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

img.sprite {
  width: 16px;
  height: 16px;
  object-fit: cover;
  image-rendering: pixelated;
  object-position: 0 0;
}


.meta-tags a {
  color: currentColor;
  text-decoration: none;
}

.meta-tags a:hover {
  text-decoration: underline;
}

.linkable a {
  opacity: 0;
}

.linkable:hover a,
.linkable a:focus {
  opacity: 1;
}