.menubar {
  position: relative;
  width: 100%;
  height: 1.375rem;
  background-color: white;
  border-bottom: var(--border-width) solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-family: var(--monospace);
  line-height: 1.65;
}

@supports (anchor-name: --anchor) {
  .menubar {
    anchor-name: --menubar;
  }
}

.menubar h1 {
  margin: 0 1rem 0 auto;
  font-size: inherit;
  font-weight: normal;
  font-style: italic;
  line-height: 1.65;
  height: 100%;
}

.menubar h1 a {
  color: currentColor;
  text-decoration: none;
}

.menubar-menu {
  align-self: stretch;
}

.popover-menu {
  position: absolute;
  top: 1.375rem;
  margin: 0;
  background-color: white;
  border: var(--border-width) solid black;
  box-shadow: calc(var(--border-width) * 2) calc(var(--border-width) * 2) 0 black;
  min-width: 9rem;
  padding: 0;
  font-size: 0.875rem;
  flex-direction: column;
  align-items: stretch;
}

.submenu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.donation-banner+.menubar .popover-menu {
  top: calc(1.375rem * 2 - 1px);
}

.popover-menu:popover-open {
  display: flex;
}

.popover-menu>[aria-current="page"] {
  font-style: italic;
}

@supports (anchor-name: --anchor) {
  .popover-menu {
    top: anchor(bottom) !important;
    justify-self: anchor-center;
    align-self: anchor-center;
  }
}

/* main "apple" menu */
#dialog-apple.popover-menu {
  right: auto;
  left: 1rem;
}

@supports (anchor-name: --anchor) {
  .trigger-menu[popovertarget=dialog-apple] {
    anchor-name: --menubar-menu-apple;
  }

  #dialog-apple.popover-menu {
    position-anchor: --menubar-menu-apple;
    left: anchor(left);
    right: auto;
  }
}

/* cubegho.st menu */
#dialog-home.popover-menu {
  right: auto;
  left: 1rem;
}

@supports (anchor-name: --anchor) {
  .trigger-menu[popovertarget=dialog-home] {
    anchor-name: --menubar-menu-home;
  }

  #dialog-home.popover-menu {
    position-anchor: --menubar-menu-home;
    left: anchor(left);
    right: auto;
  }
}

/* tags menu */
#dialog-tags.popover-menu {
  right: auto;
  left: 7.5rem;
}

@supports (anchor-name: --anchor) {
  .trigger-menu[popovertarget=dialog-tags] {
    anchor-name: --menubar-menu-tags;
  }

  #dialog-tags.popover-menu {
    position-anchor: --menubar-menu-tags;
    left: anchor(left);
    right: auto;
  }
}

/* apple > elsewhere submenu */
#dialog-elsewhere.popover-menu {
  right: auto;
  left: auto;
  transform: translateX(158px) translateY(calc(2rem * 2));
}

@supports (anchor-name: --anchor) {
  .trigger-menu[popovertarget=dialog-elsewhere] {
    anchor-name: --menubar-menu-elsewhere;
  }

  #dialog-elsewhere.popover-menu {
    position-anchor: --menubar-menu-elsewhere;
    left: calc(anchor(right) - 0.25rem);
    top: anchor(top) !important;
    right: auto;
    transform: none;
  }
}

/* apple > webscape submenu */
#dialog-webscape.popover-menu {
  right: auto;
  left: auto;
  transform: translateX(158px) translateY(calc(2rem * 4));
}

@supports (anchor-name: --anchor) {
  .trigger-menu[popovertarget=dialog-webscape] {
    anchor-name: --menubar-menu-webscape;
  }

  #dialog-webscape.popover-menu {
    position-anchor: --menubar-menu-webscape;
    left: calc(anchor(right) - 0.25rem);
    top: anchor(top) !important;
    right: auto;
    transform: none;
  }
}

/* buttons/links */

.popover-menu .menu-item {
  width: 100%;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  min-height: 2rem;
  text-align: left;
  line-height: 0.5;
}

.menubar>.menu-item {
  height: 100%;
  padding: 0 0.75rem;
}

.menubar>.menu-item,
.popover-menu a.menu-item {
  color: currentColor;
  text-decoration: none;
}

.popover-menu .menu-item .sprite {
  margin: 1px 0;
}

.menubar>.menu-item:is(a, button),
.menubar-menu>.menu-item:is(a, button) {
  line-height: inherit;
}

.menubar>.menu-item:is(a, button),
.menubar-menu .menu-item:is(a, button),
.popover-menu .menu-item:is(a, button) {
  appearance: none;
  background: transparent;
  color: black;
  border: 0;
  cursor: pointer;
  font-size: inherit;
}

.popover-menu hr {
  width: 100%;
  margin: 0;
  border-top: 0;
  border-style: dotted;
}

.menubar>.menu-item:is(a, button):hover,
.menubar>.menu-item:is(a, button):focus-visible,
.menubar-menu .menu-item:is(a, button):hover,
.menubar-menu .menu-item:is(a, button):focus-visible,
.popover-menu .menu-item:is(a, button):hover,
.popover-menu .menu-item:is(a, button):focus-visible,
.menubar-menu:has(> .popover-menu:popover-open)>.trigger-menu,
.popover-submenu:has(> .popover-menu:popover-open)>.trigger-menu {
  background-color: black;
  color: white;
}

.menubar-menu .menu-item:is(a, button):hover .sprite,
.menubar-menu .menu-item:is(a, button):focus-visible .sprite,
.popover-menu .menu-item:is(a, button):hover .sprite,
.popover-menu .menu-item:is(a, button):focus-visible .sprite,
.menubar-menu:has(> .popover-menu:popover-open)>.trigger-menu .sprite,
.popover-submenu:has(> .popover-menu:popover-open)>.trigger-menu .sprite,
.popover-submenu:has(> .popover-menu:popover-open)>.trigger-submenu:after {
  filter: invert(1);
}

.trigger-menu {
  height: 100%;
}

.menubar-menu>.trigger-menu {
  display: flex;
  padding: 0 0.75rem
}

@media (max-width: 480px) {
  .menubar-menu>.trigger-menu {
    padding: 0 0.5rem;
  }
}

.trigger-menu.trigger-submenu:after {
  content: "";
  display: block;
  width: calc(16px * var(--ui-scale));
  height: calc(16px * var(--ui-scale));
  background-image: url(/assets/ui.png);
  background-size: var(--ui-sprite-size);
  background-position: 0 0;
  image-rendering: pixelated;
  margin-left: auto;
  transform: translateY(calc(1px * var(--ui-scale)));
}

.trigger-menu.trigger-submenu:hover:after,
.trigger-menu.trigger-submenu:focus-visible:after {
  filter: invert(1);
}

.menubar-menu button svg,
.popover-menu button svg {
  display: block;
}

.menubar-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

.menubar .menubar-breadcrumbs .menubar-breadcrumb {
  padding: 0 0.25rem;
  text-decoration: none;
  color: black;
}

.menubar .menubar-breadcrumbs span:not(.menubar-breadcrumb) {
  margin: 0 -0.1rem;
}

.menubar .menubar-breadcrumbs a.menubar-breadcrumb:hover,
.menubar .menubar-breadcrumbs a.menubar-breadcrumb:focus-visible {
  background-color: black;
  color: white
}