footer:has(.page-footer) {
  display: block;
  padding: var(--root-padding);
  padding-top: 0;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 1rem;
}

.page-footer .page-footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer #footer-metadata {
  min-width: 240px;
  align-self: flex-start;
}

.page-metadata {
  font-family: var(--monospace);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  border: var(--border-width) dotted black;
  position: relative;
  width: stretch;
  padding: 1rem 1rem 0.5rem;
}

.page-metadata tr {
  font-size: 0.75rem;
}

.page-metadata tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5rem;
}

.page-metadata caption {
  position: absolute;
  top: 0;
  transform: translateY(-10px);
  background-color: white;
  padding: 0 0.5rem;
  z-index: 1
}

.page-metadata caption:after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  pointer-events: none;
  border-image: var(--pixel-border-r2);
}

.page-footer #footer-donation {
  margin-top: 4rem;
  min-width: 320px;
  max-width: 440px;
}

.page-footer .window-note .window-contents {
  font-size: 0.875rem;
}