.page {
  max-width: 60rem;
  margin: 0 auto;
}

.window.page {
  margin-bottom: 2rem;
}

.page-content {
  padding: 1rem;
  font-family: var(--sans-serif);
}

.page-content img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.page-content :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--headings);
}

.page-content :is(h1, h2, h3):first-child {
  margin-top: 0.25rem;
}

.page-content :is(p, ul, blockquote) {
  margin: 1rem 0;
}

.page-content code {
  background-color: #eee;
}

.page-content hr {
  border: 0;
  border-bottom: var(--border-width) dotted black;
}

.codepen {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 1em 0;
  padding: 1em;
}

.cp_embed_wrapper {
  border: var(--border-width) solid black;
}