.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 1rem;
}

.page-footer #footer-metadata {
  min-width: 240px;
  align-self: flex-start;
}

.page-metadata {
  font-family: var(--monospace);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  border: var(--border-width) dotted black;
  position: relative;
  width: stretch;
  padding: 1rem 1rem 0.5rem;
}

.page-metadata tr {
  font-size: 0.75rem;
}

.page-metadata tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 0.5rem;
}

.page-metadata caption {
  position: absolute;
  top: 0;
  transform: translateY(-10px);
  background-color: white;
  padding: 0 0.5rem;
  z-index: 1
}

.page-metadata caption:after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  pointer-events: none;
  border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6'%3E%3Crect width='1' height='1' x='2' y='0' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='3' y='0' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='1' y='1' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='4' y='1' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='0' y='2' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='5' y='2' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='0' y='3' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='5' y='3' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='1' y='4' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='4' y='4' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='2' y='5' fill='black'%3E%3C/rect%3E%3Crect width='1' height='1' x='3' y='5' fill='black'%3E%3C/rect%3E%3C/svg%3E");
  border-image-slice: 2;
  border-image-width: calc(2px * var(--ui-scale));
  border-image-repeat: stretch;
}

.page-metadata a:after {
  display: none !important;
}

.page-footer #footer-donation {
  margin-top: 4rem;
  min-width: 320px;
  max-width: 440px;
}

.page-footer .window-note .window-contents {
  font-size: 0.875rem;
}