.page {
  max-width: 60rem;
  margin: 0 auto;
}

.window.page {
  margin-bottom: 2rem;
}

.page-content {
  padding: 1rem;
  font-family: var(--sans-serif);
}

.page-content img {
  max-width: 100%;
  height: auto;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  font-family: Archivo, var(--sans-serif);
}

.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child {
  margin-top: 0.25rem;
}

.codepen {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 1em 0;
  padding: 1em;
}

.cp_embed_wrapper {
  border: var(--border-width) solid black;
}