.play-gif {
  position: absolute;
  transform: translateY(calc(-1rem - (1rem * var(--ui-scale)))) translateX(1rem);
  width: calc(16px * var(--ui-scale));
  height: calc(16px * var(--ui-scale));
  border: 0;
  cursor: pointer;
  outline: var(--border-width) solid black;
  image-rendering: pixelated;
  background-color: white;
  background-image: url(/assets/ui.png);
  background-size: var(--ui-sprite-size);
  background-position: calc(-32px * var(--ui-scale)) 0;
}

.play-gif:before {
  content: '';
  position: absolute;
  inset: -0.5rem;
}

.play-gif:focus,
.play-gif:hover {
  box-shadow: var(--border-width) var(--border-width) 0 var(--border-width) black;
}

.play-gif[aria-pressed=true] {
  background-position: calc(-16px * var(--ui-scale)) 0;
}

@media (prefers-reduced-motion: no-preference) {
  .play-gif {
    display: none;
  }
}