@import "./tree.css";
@import "./finder.css";

.portfolio-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* preview popovers */

.portfolio-right {
  container-name: portfolio-right;
  container-type: inline-size;
  width: 100%;
  max-width: calc(500px + (var(--border-width) * 4) + (4px * var(--ui-scale) * 2));
}

@container portfolio-right (max-width: 250px) {
  .preview {
    display: none;
  }
}

@container portfolio-right (max-width: 90px) {
  .desktop-icons {
    position: fixed;
    bottom: 0.5rem;
    left: 1rem;
  }
}

.preview[popover] {
  position: fixed;
  right: var(--root-padding);
  top: var(--root-padding);
  margin: 0;
  margin-top: 44px;
  left: auto;
  max-width: clamp(calc(50vw - (1.5rem * 2) - 2rem), calc(40vw - 2rem), calc(50vw - (4rem * 2) - 2rem));
  padding: 0;
}

.preview img {
  max-width: 100%;
}

@supports (anchor-name: --anchor) {
  .portfolio-right {
    flex: 1;
    anchor-name: --portfolio-right;
  }

  .preview[popover] {
    inset: anchor(inside);
    max-width: unset;
    margin-top: 0;
  }

  .preview[popover]:popover-open {
    position-anchor: --portfolio-right;
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}