.scrollbox {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  border: var(--border-width) solid black;
}

.window-contents>.scrollbox {
  border: 0;
}

.scrollbox-scroll {
  position: sticky;
  top: 0;
  right: 0;
  flex: 0 0 calc(16px * var(--ui-scale));
  border-left: var(--border-width) solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollbox-scroll:before,
.scrollbox-scroll:after {
  content: "";
  height: calc(15px * var(--ui-scale));
  image-rendering: pixelated;
  background-image: url(/assets/ui.png);
  background-size: var(--ui-sprite-size);
}

.scrollbox-scroll:before {
  /* border causes antialiasing in safari */
  box-shadow: 0 var(--border-width) 0 black;
  background-position: calc(-64px * var(--ui-scale)) 0;
}

.scrollbox-scroll:after {
  box-shadow: 0 calc(-1 * var(--border-width)) 0 black;
  background-position: calc(-48px * var(--ui-scale)) 0;
}

/* custom scrollbar */
@supports selector(::-webkit-scrollbar-thumb) {
  .scrollbox {
    display: block;
    overflow-y: scroll;
  }

  .scrollbox-scroll {
    display: none;
  }

  .scrollbox::-webkit-scrollbar {
    display: block;
    width: calc(16px * var(--ui-scale));
  }

  .scrollbox::-webkit-scrollbar-thumb {
    background-color: white;
    border: var(--border-width) solid black;
    border-right: 0;
  }

  .scrollbox::-webkit-scrollbar-track-piece {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 2' width='4'%3E%3Crect width='1' height='1' x='0' y='0' fill='black' /%3E%3Crect width='1' height='1' x='2' y='1' fill='black' /%3E%3C/svg%3E");
    border: var(--border-width) solid black;
    border-right: 0;
  }

  .scrollbox::-webkit-scrollbar-track-piece:end {
    background-position: bottom left;
  }

  .scrollbox::-webkit-scrollbar-track-piece:disabled {
    background-image: none;
  }

  .scrollbox::-webkit-scrollbar-button:start:decrement,
  .scrollbox::-webkit-scrollbar-button:end:increment {
    display: block;
  }

  .scrollbox::-webkit-scrollbar-button:vertical:start:increment,
  .scrollbox::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  .scrollbox::-webkit-scrollbar-button:vertical {
    height: calc(15px * var(--ui-scale));
    border-left: var(--border-width) solid black;
    image-rendering: pixelated;
    background-image: url(/assets/ui.png);
    background-size: var(--ui-sprite-size);
  }

  .scrollbox::-webkit-scrollbar-button:vertical:decrement {
    background-position: calc(-64px * var(--ui-scale)) 0;
  }

  .scrollbox::-webkit-scrollbar-button:vertical:increment {
    background-position: calc(-48px * var(--ui-scale)) 0;
  }
}