:root {
  --scrollbox-background-images: url(/assets/scroll-up.png),
    url(/assets/scroll-down.png),
    linear-gradient(to left, white calc(15px * var(--ui-scale)), black calc(15px * var(--ui-scale)), black calc(16px * var(--ui-scale)), transparent calc(16px * var(--ui-scale)), transparent);
  --scrollbox-background-positions: right calc(1px * var(--ui-scale)),
    right calc(100% - calc(1px * var(--ui-scale))),
    top right;
  --scrollbox-background-repeats: no-repeat,
    no-repeat, repeat-y;
}

.scrollbox {
  position: relative;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  border: var(--border-width) solid black;
  padding-right: calc(15px * var(--ui-scale));
  background-image: var(--scrollbox-background-images);
  background-position: var(--scrollbox-background-positions);
  background-repeat: var(--scrollbox-background-repeats);
}

.window-contents>.scrollbox {
  border: 0;
}

.scrollbox:has(.window-notepad-footer) {
  background-image: var(--scrollbox-background-images),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 1 6' width='1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1v1H0V0z'%3E%3C/path%3E%3Cpath d='M0 2h1v1H0V2z'%3E%3C/path%3E%3Cpath d='M0 4h1v1H0V4z'%3E%3C/path%3E%3Cg fill='white'%3E%3Cpath d='M0 1h1v1H0V0z'%3E%3C/path%3E%3Cpath d='M0 3h1v1H0V2z'%3E%3C/path%3E%3Cpath d='M0 5h1v1H0V4z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: var(--scrollbox-background-positions), bottom right;
  background-repeat: var(--scrollbox-background-repeats), repeat-x;
}

.scrollbox-static {
  display: flex;
  align-items: stretch;
  border: var(--border-width) solid black;
}

.scrollbox-static .scrollbox-contents {
  flex: 1;
}

.scrollbox-static:after {
  content: "";
  min-height: 0;
  width: calc(16px * var(--ui-scale));
  background-image: var(--scrollbox-background-images);
  background-position: var(--scrollbox-background-positions);
  background-repeat: var(--scrollbox-background-repeats);
}

/* custom scrollbar */
@supports selector(::-webkit-scrollbar-thumb) {
  .scrollbox {
    display: block;
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }

  .scrollbox::-webkit-scrollbar {
    display: block;
    width: calc(16px * var(--ui-scale));
    background-color: white;
    margin-left: 15px;
  }

  .scrollbox::-webkit-scrollbar-thumb {
    background-color: white;
    border: var(--border-width) solid black;
    border-right: 0;
  }

  .scrollbox::-webkit-scrollbar-track-piece {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 2' width='4'%3E%3Crect width='1' height='1' x='0' y='0' fill='black' /%3E%3Crect width='1' height='1' x='2' y='1' fill='black' /%3E%3C/svg%3E");
    border: var(--border-width) solid black;
    border-right: 0;
  }

  .scrollbox::-webkit-scrollbar-track-piece:end {
    background-position: bottom left;
  }

  .scrollbox::-webkit-scrollbar-track-piece:disabled {
    background-image: none;
  }

  .scrollbox::-webkit-scrollbar-button:start:decrement,
  .scrollbox::-webkit-scrollbar-button:end:increment {
    display: block;
  }

  .scrollbox::-webkit-scrollbar-button:vertical:start:increment,
  .scrollbox::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  .scrollbox::-webkit-scrollbar-button:vertical {
    height: calc(15px * var(--ui-scale));
    border-left: var(--border-width) solid black;
    image-rendering: pixelated;
    background-image: url(/assets/ui.png);
    background-size: var(--ui-sprite-size);
  }

  .scrollbox::-webkit-scrollbar-button:vertical:decrement {
    background-position: calc(-64px * var(--ui-scale)) 0;
  }

  .scrollbox::-webkit-scrollbar-button:vertical:increment {
    background-position: calc(-48px * var(--ui-scale)) 0;
  }
}