.scrollbox {
  display: flex;
  font-family: var(--monospace);
}

.scrollbox-scroll {
  flex: 0 0 calc(16px * var(--ui-scale));
  border: var(--border-width) solid black;
  border-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollbox-scroll:before,
.scrollbox-scroll:after {
  content: "";
  height: calc(15px * var(--ui-scale));
  image-rendering: pixelated;
  background-image: url(/assets/ui.png);
  background-size: calc(128px * var(--ui-scale));
}

.scrollbox-scroll:before {
  /* border causes antialiasing in safari */
  box-shadow: 0 var(--border-width) 0 black;
  background-position: calc(-64px * var(--ui-scale)) 0;
}

.scrollbox-scroll:after {
  box-shadow: 0 calc(-1 * var(--border-width)) 0 black;
  background-position: calc(-48px * var(--ui-scale)) 0;
}

.scrollbox-finder .scrollbox-scroll {
  border: 0;
}

.scrollbox-finder .scrollbox-scroll:before {
  margin-top: auto;
  box-shadow: 0 calc(-1 * var(--border-width)) 0 black;
}