.spinner {
  font-family: monospace;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  width: 1ch;
  height: 1em;
  line-height: 1;
  vertical-align: text-bottom;
  text-align: left;
  overflow: hidden;
}

.spinner::after {
  content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
  position: absolute;
  display: inline-table;
  white-space: pre;
  will-change: transform;
  animation: spin 800ms infinite steps(10);
}

@keyframes spin {
  from { transform: translateY(0); }
  to { transform: translateY(-10em); }
}