@import "./reset.css";
@import "./fonts.css";
@import "./utility.css";
@import "./menubar.css";
@import "./windows.css";
@import "./scrollbox.css";
@import "./donation-links.css";
@import "./play-gif.css";
@import "./webscape.css";

:root {
  --ui-scale: 1;
  --border-width: calc(1px * var(--ui-scale));
  --ui-sprite-size: calc(128px * var(--ui-scale));

  --root-padding: clamp(1.5rem, 5vw, 4rem);

  --sans-serif: "Spline Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
  --monospace: "Spline Sans Mono", "Roboto Mono", ui-monospace, Menlo, "Cascadia Mono", "Droid Sans Mono", "Consolas", monospace;
  --headings: Archivo, var(--sans-serif);

  --pixel-border-r2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6'%3E%3Cpath d='M2 0h2v1H2Z M1 1h1v1H1Z M4 1h1v1H4Z M0 2h1v2H0Z M5 2h1v2H5Z M1 4h1v1H1Z M4 4h1v1H4Z M2 5h2v1H2Z' /%3E%3C/svg%3E") 2 / calc(2px * var(--ui-scale)) stretch;
  --pixel-border-r4: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8'%3E%3Cpath d='M3 0h2v1H3Z M2 1h1v1H2Z M5 1h1v1H5Z M1 2h1v1H1Z M6 2h1v1H6Z M0 3h1v2H0Z M7 3h1v2H7Z M1 5h1v1H1Z M6 5h1v1H6Z M2 6h1v1H2Z M2 6h1v1H2Z M5 6h1v1H5Z M3 7h2v1H3Z' /%3E%3C/svg%3E") 3 / calc(3px * var(--ui-scale)) stretch;

  --accent-color: #999bf8;
  --accent-color-light: #cccdfb;
}

body {
  font-family: var(--sans-serif);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root {
  padding: var(--root-padding);
  padding-bottom: 1rem;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.hidden {
  display: none !important;
}

code {
  font-family: var(--monospace);
}

b,
strong {
  font-weight: 600;
}

/* backgrounds */

.background-grid {
  background-image: linear-gradient(black 12.5%, transparent 12.5%), linear-gradient(to right, black 12.5%, white 12.5%);
  background-size: calc(8px * var(--ui-scale)) calc(8px * var(--ui-scale));
}

.background-dot {
  background-image: linear-gradient(transparent 12.5%, white 12.5%), linear-gradient(to right, black 12.5%, white 12.5%);
  background-size: calc(8px * var(--ui-scale)) calc(8px * var(--ui-scale));
}

.background-gray {
  background-image: repeating-conic-gradient(from 0, white 0% 25%, black 0% 50%);
  background-size: calc(2px * var(--ui-scale)) calc(2px * var(--ui-scale));
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: black;
}

/* sprites */

img.sprite {
  image-rendering: pixelated;
  object-fit: cover;
  object-position: 0 0;
}

img.sprite.sprite-16 {
  width: 16px;
  height: 16px;
}

img.sprite.sprite-32 {
  width: 32px;
  height: 32px;
}

img.sprite.sprite-happy-mac {
  width: 14px;
  height: 17px;
}

button:hover img.sprite.sprite-happy-mac,
button:focus-visible img.sprite.sprite-happy-mac,
.menu-item:hover img.sprite.sprite-happy-mac,
.menu-item:focus-visible img.sprite.sprite-happy-mac,
.menubar-menu:has(> .popover-menu:popover-open)>.trigger-menu img.sprite.sprite-happy-mac {
  filter: none;
  object-position: -14px 0;
}

img.sprite.sprite-watch {
  width: 16px;
  height: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  img.sprite.sprite-watch {
    animation: watch 1000ms steps(8) infinite;
  }
}

@keyframes watch {
  0% {
    object-position: 0 0;
  }

  100% {
    object-position: -128px 0;
  }
}

/* links */

a {
  color: blue;
}

a:active {
  color: red;
}

button.button-link {
  appearance: none;
  color: blue;
  border: 0;
  border-bottom: var(--border-width) dotted currentColor;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

button.button-link:hover {}

button.button-link:active {
  color: red;
}

/* .page-content a[href*="//"]:not([href*="cubegho.st"]):not(:has(img)):after, */
a.external:after {
  content: "";
  image-rendering: pixelated;
  mask-image: url(/assets/ui.png);
  mask-size: var(--ui-sprite-size);
  mask-position: calc(-80px * var(--ui-scale)) 0;
  mask-repeat: no-repeat;
  background-color: currentColor;
  display: inline;
  vertical-align: -0.2rem;
  margin-left: 0.2rem;
  padding-left: calc(7px * var(--ui-scale));
  line-height: calc(7px * var(--ui-scale));
}

.page-content h1 a[href*="//"]:not([href*="cubegho.st"]):after {
  display: none;
}

/* buttons */

.button {
  border-width: 0;
  border-image: var(--pixel-border-r2);
  position: relative;
  padding: 0.15rem 0.75rem;
  line-height: 1.4;
  height: fit-content;
}

button.button {
  appearance: none;
  background: transparent;
}

a.button {
  color: currentColor;
  text-decoration: none;
}

.button:focus-visible {
  outline: 0;
}

.button:focus-visible:after,
.button:not(:disabled):active:after {
  content: "";
  display: block;
  position: absolute;
  inset: calc(-4px * var(--ui-scale));
  border-image: var(--pixel-border-r4)
}

/* should this go in windows.css? */
.meta-tags a {
  color: currentColor;
  text-decoration: none;
}

.meta-tags a:hover {
  text-decoration: underline;
}

/* linkable headings */

.linkable:is(h1, h2, h3, h4, h5, h6) a {
  opacity: 0;
  display: inline-block;
  width: 0;
  text-indent: 0.5rem;
}

.linkable:is(h1, h2, h3, h4, h5, h6):hover a,
.linkable:is(h1, h2, h3, h4, h5, h6) a:focus {
  opacity: 1;
}

/* skip to content link */

.skip-link {
  background: white;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  z-index: 11;
  padding: 0.25rem 1rem;
  border: var(--border-width) solid black;
}

.skip-link:focus {
  transform: translateX(-50%) translateY(0%);
}

/* visitor counter */

iframe.visitors {
  margin-left: auto;
  border: 0;
  height: 55px;
  flex-basis: var(--counter-width, 0px);
  max-width: var(--counter-width);
}

/* appearance dialog */
#dialog-appearance {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: auto;
  margin: 0;
  margin-top: calc(1.375rem * 2);
}

@supports (anchor-name: --anchor) {
  #dialog-appearance[popover] {
    position-anchor: --menubar;
    top: calc(anchor(bottom) + 1rem);
    margin-top: 0;
  }
}

.appearance {
  display: flex;
  font-size: 0.875rem;
}

.appearance-group {
  padding: 0.75rem;
  flex: 1;
}

.appearance-group h3 {
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.appearance .appearance-group:not(:first-child) {
  border-left: var(--border-width) dotted black;
}

.appearance-group.desktop {
  display: grid;
  grid-template-columns: calc(100px * var(--ui-scale)) 7rem;
  grid-template-rows: max-content;
  column-gap: 0.75rem;
}

.appearance-group.desktop h3 {
  grid-column: span 2;
}

.appearance-group.desktop #desktop-apply {
  grid-column: 1;
  height: fit-content;
}

.desktop-picker {
  --width: calc(100px * var(--ui-scale));
  --height: calc(73px * var(--ui-scale));
  --nav-height: calc(7px * var(--ui-scale));
  --click-area: calc(7px * var(--ui-scale));

  border: var(--border-width) solid transparent;
  width: var(--width);
  height: calc(var(--height) + var(--click-area));
  position: relative;
  margin-top: calc(-1 * var(--click-area));
  margin-bottom: 0.5rem;
}

.desktop-picker:before,
.desktop-picker:after {
  content: "";
  display: block;
  position: absolute;
  inset: calc(var(--click-area) - var(--border-width)) calc(-1 * var(--border-width)) calc(-1 * var(--border-width)) calc(-1 * var(--border-width));
}

.desktop-picker:before {
  border: var(--border-width) solid black;
  /* https: //css-tricks.com/cut-corners-using-css-mask-and-clip-path-properties/ */
  mask: conic-gradient(at var(--border-width) var(--border-width), #000 75%, #0000 0) 0 0/calc(100% - var(--border-width)) calc(100% - var(--border-width));
  pointer-events: none;
}

.desktop-picker:has(:focus-visible):after {
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

.desktop-picker-group {
  opacity: 0;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, calc(var(--width) / 2 - var(--border-width)));
  grid-template-rows: calc(var(--nav-height) + var(--click-area)) 1fr;
}

.desktop-picker-group:has(input[type=radio]:checked) {
  opacity: 1;
  z-index: 1;
}

.desktop-picker-group input[type=radio] {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
  margin: 0;
}

.desktop-picker-group label.picker-preview {
  display: block;
  width: calc(var(--width) - (2 * var(--border-width)));
  height: calc(var(--height) - var(--nav-height) - (3 * var(--border-width)));
  margin-top: var(--border-width);
  box-shadow: 0 calc(-1 * var(--border-width)) 0 black;
  image-rendering: pixelated;
  grid-row: 2;
  grid-column: span 2;
  text-indent: -9999px;
  box-sizing: content-box;
}

.desktop-picker-group label:is(.picker-previous, .picker-next) {
  display: block;
  grid-row: 1;
  text-indent: -9999px;
  position: relative;
  height: calc(100% + (2 * var(--click-area)));
  cursor: pointer;
}

.desktop-picker-group label:is(.picker-previous, .picker-next):after {
  content: "";
  display: block;
  position: absolute;
  top: var(--click-area);
  width: calc(4px * var(--ui-scale));
  height: calc(7px * var(--ui-scale));
  background-image: url(/assets/ui.png);
  background-size: var(--ui-sprite-size);
  image-rendering: pixelated;
  margin: 0 calc(9px * var(--ui-scale));
}

.desktop-picker-group label.picker-previous:after {
  background-position: calc(-87px * var(--ui-scale)) 0;
  left: 0;
}

.desktop-picker-group label.picker-next:after {
  background-position: calc(-92px * var(--ui-scale)) 0;
  right: 0;
}

label#desktop-webscape-preview {
  background-image: url(/assets/desktop-webscape-98.png);
}

.desktop-controls-webscape {
  grid-column: 2;
  grid-row: 2;
  min-width: unset;
  height: fit-content;
  border: var(--border-width) dotted black;
  padding: 0.25rem 0.5rem 0.5rem;
  margin: -0.5rem 0 0 0;
}

.desktop-controls-webscape:disabled {
  opacity: 0.5;
}

.webscape-replay-controls {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.webscape-replay-controls .sprite-watch {
  display: none;
  vertical-align: middle;
  margin-left: 0.25rem;

}

.webscape-replay-controls:has(.webscape-replay-cancel) .sprite-watch {
  display: inline-block;
}

.webscape-replay-controls button {
  white-space: nowrap;
}

.webscape-replay-controls button img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25rem;
}

.webscape-replay-controls button .label-cancel {
  display: none;
}

.webscape-replay-controls button.webscape-replay-cancel .label-replay {
  display: none;
}

.webscape-replay-controls button.webscape-replay-cancel .label-cancel {
  display: inline;
}