@import "./reset.css";
@import "./utility.css";
@import "./spinner.css";
@import "./menubar.css";
@import "./windows.css";
@import "./scrollbox.css";
@import "./donation-links.css";
@import "./play-gif.css";
@import "./webscape.css";

@font-face {
  font-family: FindersKeepers;
  src: url(/assets/FindersKeepers.ttf);
}

@font-face {
  font-family: ChiKareGo2;
  src: url(/assets/ChiKareGo2.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Geneva9.2";
  src: url(/assets/geneva-9-2.otf.woff2);
}

:root {
  --ui-scale: 1;
  --border-width: calc(1px * var(--ui-scale));
  --ui-sprite-size: calc(128px * var(--ui-scale));

  --sans-serif: Roboto, Arial, Helvetica, sans-serif;
  --monospace: 'Roboto Mono', 'Courier New', Courier, monospace;
  --finder: FindersKeepers, monospace;
}

body {
  font-family: var(--sans-serif);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root {
  padding: clamp(1.5rem, 5vw, 4rem);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

footer {
  margin-top: auto;
}

.hidden {
  display: none !important;
}

/* TODO move */
.webscape-controls {
  margin-left: auto;
}

img.sprite {
  width: 16px;
  height: 16px;
  object-fit: cover;
  image-rendering: pixelated;
  object-position: 0 0;
}

/* links */

a {
  color: blue;
}

a:active {
  color: red;
}

button.button-link {
  appearance: none;
  text-decoration: underline;
  color: blue;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

button.button-link:hover {}

button.button-link:active {
  color: red;
}

a.external:after {
  content: "";
  image-rendering: pixelated;
  mask-image: url(/assets/ui.png);
  mask-size: var(--ui-sprite-size);
  mask-position: calc(-80px * var(--ui-scale)) 0;
  background-color: currentColor;
  width: calc(7px * var(--ui-scale));
  height: calc(7px * var(--ui-scale));
  display: inline-block;
  vertical-align: 0.1rem;
  margin-left: 0.25rem;
}


/* should this go in windows.css? */
.meta-tags a {
  color: currentColor;
  text-decoration: none;
}

.meta-tags a:hover {
  text-decoration: underline;
}

/* linkable headings */

.linkable:is(h1, h2, h3, h4, h5, h6) a {
  opacity: 0;
}

.linkable:is(h1, h2, h3, h4, h5, h6):hover a,
.linkable:is(h1, h2, h3, h4, h5, h6) a:focus {
  opacity: 1;
}

/* skip to content link */

.skip-link {
  background: white;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  z-index: 11;
  padding: 0.25rem 1rem;
  border: var(--border-width) solid black;
}

.skip-link:focus {
  transform: translateX(-50%) translateY(0%);
}