{% assign show_donation_banner = true %}
{% layout layouts/webscape.html %}

{%- block head %}
<link rel="stylesheet" href="/styles/portfolio.css">
{% endblock -%}

{%- block menubar %}
<div class="menubar-menu" style="margin-left: auto;">
  <button popovertarget="dialog-webscape" class="trigger-menu" title="webscape controls">
    {% comment %} {% render happy-mac.svg.liquid, width: 14 %} {% endcomment %}
    {% comment %} <span class="visually-hidden">webscape controls</span> {% endcomment %}
    <img src="/assets/happy-mac.png" class="sprite happy-mac-sprite" eleventy:ignore />
  </button>
  <dialog id="dialog-webscape" class="popover-menu" popover>
    <button id="replay-webscape">replay webscape<span class="spinner hidden"></span></button>
    <button id="cancel-replay-webscape" class="hidden">cancel replay</button>
    <button id="hide-webscape">hide webscape</button>
    <hr />
    {% for dimension in webscapeDimensions -%}
    <a href="https://observablehq.com/@cubeghost/procgen-dreamscape?width={{ dimension.width }}&height={{ dimension.height }}"
      class="webscape-link webscape-link-{{ dimension.id }} external" target="_blank">notebook</a>
    {%- endfor %}
  </dialog>
</div>
{%- endblock %}

{% assign right_first = right_first | default: false %}
{% block content %}

<div class="portfolio-container">
  {%- if right_first %}
  <div class="portfolio-right">
    {%- block right -%}{%- endblock-%}
  </div>
  {% endif -%}

  <div class="tree">
    <div class="node">
      <button class="node-button"></button>
      <div class="node-content">~</div>
    </div>
    {% tree collections.portfolio %}
    {% if node -%}
    {% assign id = node.url | default: node.filePathStem | slugify -%}
    {%- liquid
      if node.data.portfolio_preview
        assign preview = node.data.portfolio_preview
      elsif node.data.preview
        assign preview = node.data.preview
      else
        assign preview = nil
      endif
    -%}
    <div class="node" {% if preview and node.use_preview %}popovertarget="{{ id }}" popovertargetaction="toggle" {%endif %}>
      <button class="node-button"></button>
      <div class="node-content">
        {% pagelink node %}<span>{{ node.name | default: node.data.title }}</span>{% endpagelink %}
        {%- if node.meta %}&nbsp;{{ node.meta }}{% endif -%}
      </div>
    </div>
    {%- else -%}
    {%- assign id = nil -%}
    <div class="node">
      <button class="node-button"></button>
      <div class="node-content">
        {%- if directory.url -%}
        <a href="{{ directory.url }}">{{ directory.name }}</a>
        {% else %}
        {{ directory.name }}
        {%- endif -%}
      </div>
      {% if directory.icon -%}
      <div class="node-icon">
        {%- assign icon = directory.icon -%}
        {%- if icon.sprite -%}
        {%- include icon-sprite-32, id: icon.sprite, alt: icon.alt -%}
        {%- elsif icon.retina != false -%}
        {%- include retina-image, src: icon.src, alt: icon.alt, width: icon.width, style: icon.style | default: "", class: icon.class | default: "" -%}
        {%- else -%}
        <img src="{{ icon.src }}" alt="{{ icon.alt }}" width="{{ icon.width }}" style="{{ icon.style | default: "" }}" eleventy:ignore />
        {%- endif -%}
      </div>
      {%- endif %}
    </div>
    {%- endif %}
    {% endtree %}
  </div>

  {%- if not right_first %}
  <div class="portfolio-right">
    {%- block right -%}{%- endblock-%}
  </div>
  {% endif -%}
</div>

{% endblock %}

{% block scripts %}

{% capture global_dimensions %}
globalThis.__DIMENSIONS__ = {{ webscapeDimensions | json }};
{% endcapture %}
<script type="text/javascript">
  {{ global_dimensions }}
  const replayButton = document.getElementById("replay-webscape");
  const cancelButton = document.getElementById("cancel-replay-webscape");

  (async () => {
    function setWebscapeSeed(seed) {
      const notebookLinks = document.querySelectorAll(".webscape-link");
      notebookLinks.forEach((notebookLink) => {
        const url = new URL(notebookLink.href);
        url.searchParams.set("seed", seed);
        notebookLink.href = url.toString();
      });
      const seedPlaceholders = document.querySelectorAll(".webscape-seed");
      seedPlaceholders.forEach((placeholder) => {
        placeholder.innerText = seed;
      });

      cookieStore.removeEventListener("change", onCookieChange);
    }
    function onCookieChange(event) {
      const change = event.changed.find(cookie => cookie.name === "webscape_seed");
      if (change && change.value) {
        setWebscapeSeed(change.value);
      }
    }

    const initialCookie = await cookieStore.get("webscape_seed");
    if (initialCookie) {
      setWebscapeSeed(initialCookie.value);
    } else {
      // wait for cookie to be set by loading background image
      cookieStore.addEventListener("change", onCookieChange);
    }
  })();

  replayButton.addEventListener("click", (event) => {
    initialize();
  });
  cancelButton.addEventListener("click", (event) => {
    replayButton.disabled = false;
    replayButton.querySelector(".spinner").classList.add("hidden");
    cancelButton.classList.add("hidden");
    const canvasContainer = document.getElementById("webscape-canvas");
    if (canvasContainer) canvasContainer.innerHTML = "";
  });

  async function initialize() {
    const webscape = document.querySelector(".webscape");
    const orientation = getComputedStyle(webscape).getPropertyValue("--orientation");
    const scale = parseInt(getComputedStyle(webscape).getPropertyValue("--scale"));

    try {
      replayButton.disabled = true;
      replayButton.querySelector(".spinner").classList.remove("hidden");
      cancelButton.classList.remove("hidden");

      const response = await fetch(`/webscape.gif?orientation=${orientation}`);

      const buffer = await response.arrayBuffer();
      const chunkSize = parseInt(response.headers.get("x-webscape-chunk-size"));

      let canvasContainer = document.getElementById("webscape-canvas");
      if (!canvasContainer) {
        canvasContainer = document.createElement("div");
        canvasContainer.id = "webscape-canvas";
        document.querySelector(".webscape").appendChild(canvasContainer);
      }

      const { replay } = await import("/replay.js");
      replayButton.querySelector(".spinner").classList.add("hidden");

      await replay(canvasContainer, context2d, buffer, chunkSize, scale);

      replayButton.disabled = false;
      cancelButton.classList.add("hidden");
      canvasContainer.innerHTML = "";
    } catch (err) {
      replayButton.disabled = false;
      replayButton.querySelector(".spinner").classList.add("hidden");
      cancelButton.classList.add("hidden");
    }
  }

  function context2d(width, height, dpi = 1) {
    const canvas = document.createElement("canvas");
    canvas.width = width * dpi;
    canvas.height = height * dpi;
    canvas.style.setProperty("image-rendering", "pixelated");
    const context = canvas.getContext("2d", { willReadFrequently: true });
    context.scale(dpi, dpi);
    return context;
  }
</script>
{% endblock %}