{% layout layouts/webscape.html %}

{% block head %}
<link rel="stylesheet" href="/styles/page.css">
<link rel="stylesheet" href="/styles/page-footer.css">
{% endblock %}

{% block menubar %}
<div style="margin-left: auto">{% include breadcrumbs.html.liquid %}</div>
{% endblock %}

{% block content %}
<article class="page">
  {{ content }}
</article>
{% endblock %}

{% block footer %}
<footer>
  {%- include page-footer.html.liquid, class: "page", show_source: true, show_date: true -%}
</footer>
{% endblock %}