{% layout layouts/webscape.html %}

{% block head %}
<link rel="stylesheet" href="/styles/page.css">
{% endblock %}

{% block menubar %}
<div style="margin-left: auto">{% include breadcrumbs.html.liquid %}</div>
{% endblock %}

{% block content %}
<article class="window page">
  <div class="window-titlebar">
    <span class="window-button button-left"></span>
    <span class="window-titlebar-title">{{ title }}</span>
    <span class="window-button button-right button-zoom"></span>
    <span class="window-button button-right button-minimize"></span>
  </div>
  <div class="window-contents">
    <div class="window-meta">
      {%- assign date = date | default: nil -%}
      {%- render post-meta.html.liquid, date: date, tags: tags -%}
    </div>
    <div class="page-content">
      {{ content }}
    </div>
    <div class="window-notepad-footer"><span></span></div>
  </div>
</article>

{%- include page-footer.html.liquid, class: "page", show_source: true -%}
{% endblock %}