<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ title }}{% if page.url != "/" %} | cubegho.st{% endif %}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
			rel="stylesheet">

		<link rel="stylesheet" href="/styles/home.css">
		{%- block head %}{% endblock -%}
		<script type="text/javascript">
			function playGifToggle(event) {
				const targetId = event.target.dataset.targetId;
				const gifSource = document.querySelector(`source[type="image/gif"]:has(~ #${targetId})`);
				const label = event.target.querySelector("span");
				const isPlaying = event.target.getAttribute("aria-pressed") === "true";
				if (isPlaying) {
					gifSource.media = "(prefers-reduced-motion: no-preference)";
					event.target.setAttribute("aria-pressed", "false");
					label.innerText = "play gif";
				} else {
					gifSource.media = "";
					event.target.setAttribute("aria-pressed", "true");
					label.innerText = "pause gif";
				}
			}
		</script>
	</head>
	<body>
		<div class="sticky-top">
			{%- assign url_start = page.url | slice: 0, 6 -%}
			{%- if show_donation_banner -%}
				{% render donation-links.html.liquid, class: "donation-banner", marquee: true %}
			{%- endif -%}
			<div class="menubar">
				{%- block menubar -%}{%- endblock -%}
			</div>
		</div>
		<div class="root">
			{% block content %}{% endblock %}
		</div>
		<footer>
		{%- block footer -%}{%- endblock -%}
		</footer>

		<div class="webscape"></div>

		{% block scripts %}{% endblock %}
	</body>
</html>
