<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ title }}{% if page.url != "/" %} | cubegho.st{% endif %}</title>

		<noscript><style>.requires-js { display: none !important; }</style></noscript>
		<link rel="stylesheet" href="/styles/style.css">
		{%- block head %}{% endblock -%}
		<script type="text/javascript">
			function playGifToggle(event) {
				const targetId = event.target.dataset.targetId;
				const gifSource = document.querySelector(`source[type="image/gif"]:has(~ #${targetId})`);
				const label = event.target.querySelector("span");
				const isPlaying = event.target.getAttribute("aria-pressed") === "true";
				if (isPlaying) {
					gifSource.media = "(prefers-reduced-motion: no-preference)";
					event.target.setAttribute("aria-pressed", "false");
					label.innerText = "play gif";
				} else {
					gifSource.media = "";
					event.target.setAttribute("aria-pressed", "true");
					label.innerText = "pause gif";
				}
			}
		</script>
	</head>
	<body class="background-webscape">
		<script type="text/javascript">
			const desktopPreference = localStorage.getItem("desktop-background");
			if (desktopPreference) {
				document.body.className = `background-${desktopPreference}`;
			}
		</script>

		<a class="skip-link" href="#main">
			skip to content
		</a>

		<div class="sticky-top">
			{%- assign url_start = page.url | slice: 0, 6 -%}
			{%- if show_donation_banner -%}
				{% render donation-links.html.liquid, class: "donation-banner", marquee: true, nosnippet: true %}
			{%- endif -%}
			<nav class="menubar">
				<div class="menubar-menu">
					<button popovertarget="dialog-apple" class="menu-item trigger-menu">
						<img src="/assets/happy-mac.png" class="sprite sprite-happy-mac" alt="happy computer" style="align-self: center" eleventy:ignore />
						<span class="visually-hidden">open menu</span>
					</button>

					<dialog id="dialog-apple" class="popover-menu" popover>
						<a href="/" class="menu-item"{% if page.url == "/" %} aria-current="page"{% endif %}>cubegho.st</a>

						<hr />

						<a href="/about/" class="menu-item"{% if page.url == "/about/" %} aria-current="page"{% endif %}>{% include icon-sprite, id: "resedit", size: 16, role: "presentation" %} about</a>

						<div class="popover-submenu">
							<button popovertarget="dialog-elsewhere" class="menu-item trigger-menu trigger-submenu">{% include icon-sprite, id: "globe", size: 16, role: "presentation" %} elsewhere</button>
							<dialog id="dialog-elsewhere" class="popover-menu" popover>
								<a href="https://github.com/cubeghost" target="_blank" class="menu-item">{% include icon-sprite, id: "suitcase-git", size: 16, role: "presentation" %} github</a>
								<a href="https://observablehq.com/user/@cubeghost" target="_blank" class="menu-item">{% include icon-sprite, id: "document-code", size: 16, role: "presentation" %} observable</a>
								<a href="https://codepen.io/cubeghost" target="_blank" class="menu-item">{% include icon-sprite, id: "scrapbook", size: 16, role: "presentation" %} codepen</a>
								<a href="https://bsky.app/profile/cubegho.st" target="_blank" class="menu-item">{% include icon-sprite, id: "users", size: 16, role: "presentation" %} bluesky</a>
								<a href="mailto:mail@cubegho.st" target="_blank" class="menu-item">{% include icon-sprite, id: "mail4", size: 16, role: "presentation" %} e-mail</a>
							</dialog>
						</div>

						<a href="/hire-me/" class="menu-item"{% if page.url == "/hire-me/" %} aria-current="page"{% endif %}>{% include icon-sprite, id: "alert", size: 16, role: "presentation" %} hire me!</a>

						<hr class="requires-js" />

						<button popovertarget="dialog-appearance" class="menu-item requires-js">
							{% include icon-sprite, id: "display-1", size: 16, alt: "appearance controls" %}
							appearance
						</button>

					</dialog>
				</div>

				<a href="/" class="menu-item"{% if page.url=="/" %} aria-current="page"{% endif %}>home</a>

				<div class="menubar-menu">
					<button popovertarget="dialog-tags" class="menu-item trigger-menu">
						tags
					</button>
					<dialog id="dialog-tags" class="popover-menu" popover>
						{% for collection in collections %}
						{%- assign tag_name = collection[0] -%}
						{%- if tag_name != "all" and tag_name != "portfolio" -%}
						{%- capture tag_url -%}/tags/{{ tag_name }}/{%- endcapture -%}
						<a href="{{ tag_url }}" {% if page.url == tag_url %} aria-current="page"{% endif %} class="menu-item">#{{ tag_name }}</a>
						{%- endif -%}
						{% endfor %}
					</dialog>
				</div>

				{%- block menubar -%}{%- endblock -%}
			</nav>
		</div>

		<dialog id="dialog-appearance" class="window window-animated" popover="manual">
			<div class="window-titlebar">
				<button class="window-button button-left" popovertarget="dialog-appearance" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
				<span class="window-titlebar-title">appearance</span>
			</div>
			<div class="window-contents appearance">
				{% comment %} <div class="appearance-group">
					<h3>Display</h3>
				</div> {% endcomment %}
				<div class="appearance-group desktop">
					<h3>Desktop</h3>

					<div class="desktop-picker">
						{%- assign desktops = "webscape,grid,dot,gray,black,white" | split: "," -%}
						{% for desktop in desktops %}
						<div class="desktop-picker-group">
							<label class="picker-previous" for="desktop-{{ forloop.index0 | minus: 1 | plus: desktops.length | modulo: desktops.length }}">previous</label>
							<input type="radio" name="desktop" value="{{ desktop }}" id="desktop-{{ forloop.index0 }}" aria-labelledby="desktop-{{ desktop }}-preview" {% if forloop.index0 == 0 %}checked{% endif %} />
							<label id="desktop-{{ desktop }}-preview" for="desktop-{{ forloop.index0 }}" class="picker-preview background-{{ desktop }}">{{ desktop }}</label>
							<label class="picker-next" for="desktop-{{ forloop.index0 | plus: 1 | modulo: desktops.length }}">next</label>
						</div>
						{% endfor %}
					</div>

					<button id="desktop-apply" type="submit" class="button">apply</button>
					
					<fieldset class="desktop-controls-webscape">
						<legend>webscape</legend>
						{% if show_webscape_controls %}
						{% include webscape-controls.html.liquid %}
						{% endif %}
						{% include webscape-links.html.liquid, class: "external" %}
					</fieldset>

					<script type="text/javascript">
						if (desktopPreference) {
							document.querySelector(`input[name="desktop"][value="${desktopPreference}"]`).checked = true;
							document.querySelector(".desktop-controls-webscape").disabled = desktopPreference !== "webscape";
							{% if show_webscape_controls %}
							document.querySelector("#webscape-replay").disabled = desktopPreference !== "webscape";
							{% endif %}
						}
					</script>
				</div>
			</div>
		</dialog>
		<script type="text/javascript">
			const webscapeControls = document.querySelector(".desktop-controls-webscape");
			document.querySelector(".desktop-picker").addEventListener("change", (event) => {
				const desktop = event.target.value;
				webscapeControls.disabled = desktop !== "webscape";
			});
			document.getElementById("desktop-apply").addEventListener("click", (event) => {
				const desktop = document.querySelector('input[name="desktop"]:checked')?.value;
				if (!desktop) return;

				document.body.className = `background-${desktop}`;
				localStorage.setItem("desktop-background", desktop);

				{% if show_webscape_controls %}
				replayButton.disabled = desktop !== "webscape";
				if (replayController && replayController.signal.aborted === false) {
					replayController.abort();
				}
				{% endif %}
			})
		</script>

		<div class="root" id="main">
			{% block content %}{% endblock %}
		</div>
		<footer>
		{%- block footer -%}{%- endblock -%}
		</footer>

		<div class="webscape"></div>

		<script type="text/javascript">
			(async () => {
				function setWebscapeSeed(seed) {
					const notebookLinks = document.querySelectorAll(".webscape-link");
					notebookLinks.forEach((notebookLink) => {
						const url = new URL(notebookLink.href);
						url.searchParams.set("seed", seed);
						notebookLink.href = url.toString();
					});
					const seedPlaceholders = document.querySelectorAll(".webscape-seed");
					seedPlaceholders.forEach((placeholder) => {
						placeholder.innerText = seed;
					});

					cookieStore.removeEventListener("change", onCookieChange);
				}
				function onCookieChange(event) {
					const change = event.changed.find(cookie => cookie.name === "webscape_seed");
					if (change && change.value) {
						setWebscapeSeed(change.value);
					}
				}

				const initialCookie = await cookieStore.get("webscape_seed");
				if (initialCookie) {
					setWebscapeSeed(initialCookie.value);
				} else {
					// wait for cookie to be set by loading background image
					cookieStore.addEventListener("change", onCookieChange);
				}
			})();
		</script>
		{% block scripts %}{% endblock %}
	</body>
</html>
