{% layout layouts/webscape.html %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="/styles/page.css">
{% endblock %}

{% block menubar %}
{% include breadcrumbs.html.liquid %}
{% endblock %}

{% block content %}
<div class="window page">
  <div class="window-titlebar">
    <span class="window-titlebar-title">{{ title }}</span>
  </div>
  <div class="window-contents">
    <div class="window-meta">
      {%- render post-meta.html.liquid, date: date, tags: tags -%}
    </div>
    <div class="page-content">
      {{ content }}
    </div>
    <div class="window-notepad-footer"><span></span></div>
  </div>
</div>
{% endblock %}