---
eleventyExcludeFromCollections: true
title: about
---
{% layout layouts/webscape-portfolio.html %}

{% block menubar %}
{{ block.super }}
<h1><a href="{{ page.url }}" aria-current="page">about</a></h1>
{% endblock %}

{% assign right_first = true %}
{% block right %}
  <style type="text/css">
    .portfolio-container {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      max-width: 1200px;
      justify-content: center;
    }
    .portfolio-right {
      flex: 1 1 320px;
      min-width: 320px;
      margin: 0 auto;
    }

    dialog[popover] {
      z-index: 1;
    }
    .portfolio-right dialog[popover] {
      position: relative;
    }

    #dialog-about {
      box-shadow: 0 0 0 calc(1px * var(--ui-scale)) black,
                  0 0 0 calc(3px * var(--ui-scale)) white,
                  0 0 0 calc(4px * var(--ui-scale)) black;
      z-index: 1;
      height: fit-content;
    }

    #dialog-about .window-contents {
      margin: 0;
      border: 0;
    }

    #dialog-about-elsewhere a {
      display: flex;
      align-items: center;
      gap: 0.5rem
    }

    #dialog-about-notes {
      margin-top: 4rem;
    }

    /* dice */

    .button-dice {
      appearance: none;
      border: 0;
      background-color: transparent;
      padding: 0.25rem;
      cursor: pointer;
    }

    .icon-dice {
      display: block;
      image-rendering: pixelated;
      background-image: url(/assets/dice.png);
      width: calc(13px * var(--ui-scale));
      height: calc(21px * var(--ui-scale));
      background-position: 0px 0px;
      background-size: calc(39px * var(--ui-scale));
    }

    @keyframes dice-roll {
      0% { background-position: 0px 0px; }
      50%, 100% { background-position: calc(-26px * var(--ui-scale)) 0px; }
    }

    @media (prefers-reduced-motion: no-preference) {
      .button-dice.dice-rolling .icon-dice {
        animation: dice-roll 600ms steps(2) forwards;
      }
      .finder-item .icon-dice:hover {
        animation: dice-roll 600ms steps(2) forwards;
      }
    }

    /* icon credit popovers */

    #dialog-about-icons {
      position: fixed;
      left: 32rem;
      top: 22rem;
      margin: 0;
      margin-top: 44px;
      /* left: auto; */
      padding: 0;
      max-width: 360px;
      border: 0;
      overflow: visible;
      background: transparent;
    }
    @supports (anchor-name: --anchor) {
      #dialog-about-notes {
        anchor-name: --dialog-about-notes;
      }

      #dialog-about-icons[popover] {
        position-anchor: --dialog-about-notes;
        top: calc(anchor(bottom) - 1rem);
        left: max(1.5rem, calc(anchor(left) - 24rem));
        right: auto;
        margin-top: 0;
      }
    }

    .finder {
      font-size: 0.75rem;
    }
    .finder-list {
      border-right: var(--border-width) solid black;
      flex: 1;
    }
    .finder-list td {
      padding: 0.125rem 0.5rem;
    }
    table.finder-list {
      padding-right: calc(16px * var(--ui-scale));
    }
    table.window-contents {
      border-spacing: 0;
      width: stretch;
      border-collapse: collapse;
    }
    .window thead.window-meta {
      display: table-header-group;
      text-align: left;
    }
    tbody.scrollbox-finder {
      display: table-row-group;
      position: relative;
    }
    td.scrollbox-scroll {
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(16px * var(--ui-scale));
      height: 100%;
      padding: 0;
      box-shadow: calc(-1px * var(--ui-scale)) 0 0 black;
    }
    .finder-item {
      margin: 0;
    }
    .finder-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .finder-icons > .finder-item {
      flex: 0 0 112px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-wrap: balance;
      margin: 1rem;
    }

    @media (prefers-reduced-motion: no-preference) {
      #dialog-about-icons {
        transition-behavior: allow-discrete; 
      }
      #dialog-about-icons:not(:popover-open) {
        transition-delay: 400ms;
      }
      #dialog-about-icons .window {
        animation: window-appear 400ms steps(1) reverse forwards;
      }
      #dialog-about-icons:popover-open .window {
        animation-direction: normal;
      }
      #dialog-about-icons .window > * {
        opacity: 0;
        animation: window-children-appear 400ms steps(1) reverse forwards;
      }
      #dialog-about-icons:popover-open .window > * {
        animation-direction: normal;
      }
      #dialog-about-icons .window:after {
        content: "";
        position: absolute;
        border: 1px dotted black;
        inset: 0;
        opacity: 0;
        pointer-events: none;
      }
      #dialog-about-icons:popover-open .window:after {
        animation: window-pseduo-appear 400ms steps(10);
      }
      #dialog-about-icons:not(:popover-open) .window:after {
        animation: window-pseduo-disappear 400ms steps(10);
      }
    }
  </style>

  <div id="dialog-about" class="window dialog-about">
    <div class="window-contents" style="display: flex; padding: 1rem; gap: 1rem">
      <div style="flex-shrink: 0; padding: 0.5rem 1rem;">
        <img src="/assets/resedit.png" width="23" style="image-rendering: pixelated;" eleventy:ignore />
      </div>
      <div>
        <h2 style="font-size: 1.25rem; font-family: var(--monospace)">cubegho.st</h2>
        <p>
          <button popovertarget="dialog-about-picture" class="button-link"><strong>alex baldwin</strong></button> is a 
          <span style="display: inline-flex; align-items: center">
            <select id="about-title" value="code wizard">
              <option>code wizard</option>
              <option>level 3000 cyberwitch</option>
              <option>computer artist</option>
              <option>software engineer</option>
              <option>creative technologist</option>
            </select>
            <button id="random-about-title" class="button-dice">
              <span class="icon-dice"></span>
              <span class="visually-hidden">randomize</span>
            </button>
          </span>
        </p>
        {% comment %} <p>logging on from Brooklyn, NY</p> {% endcomment %}
        <p>who has been writing code since ~2006</p>
        <p><button popovertarget="dialog-about-elsewhere" class="button-link">elsewhere on the world wide web</button></p>
      </div>
    </div>
  </div>
  
  <dialog id="dialog-about-notes" class="window window-note" popover="manual" open>
    <div class="window-handle">
      <button class="window-button button-left" popovertarget="dialog-about-notes" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
    </div>
    <div class="window-contents" style="padding: 1rem; font-size: 0.875rem;">
      <h3 style="font-size: inherit; margin-top: 0">notes on this website</h3>
      <button popovertarget="dialog-about-icons">icons</button>
    </div>
  </dialog>

  <dialog id="dialog-about-icons" popover="manual">
    <div class="window" style="position: relative; z-index: 1;">
      <div class="window-titlebar">
        <button class="window-button button-left" popovertarget="dialog-about-icons" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
        <span class="window-titlebar-title">Icons</span>
      </div>
      <div class="window-contents">
        <div class="window-meta"><span>4 items</span></div>
        <div class="finder finder-icons">
          <figure class="finder-item">
            <img src="/assets/macpaint.png" alt="macpaint document icon" width="25" style="image-rendering: pixelated" eleventy:ignore />
            <figcaption>MacPaint</figcaption>
          </figure>
          <figure class="finder-item">
            <img src="/assets/code.png" alt="code document icon" width="26" style="image-rendering: pixelated" eleventy:ignore />
            <figcaption>THINK C</figcaption>
          </figure>
          <figure class="finder-item">
            <img src="/kidpix/kidpix_icon_alt.png" alt="kid pix studio deluxe icon" width="32" style="image-rendering: pixelated" />
            <figcaption>Kid Pix Studio Deluxe</figcaption>
          </figure>
          <figure class="finder-item">
            <img src="/assets/resedit.png" alt="resedit icon" width="23" style="image-rendering: pixelated" eleventy:ignore />
            <figcaption>ResEdit</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="window" style="transform: translate(3rem, -1.5rem);">
      <div class="window-titlebar"></div>
      <table class="window-contents finder finder-list">
        <thead class="window-meta">
          <tr>
            <th scope="col"></th>
            <th scope="col">Application</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="scrollbox scrollbox-finder">
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "scrapbook", role: "presentation" %}</td>
            <td>Scrapbook</td>
            <td></td>
          </tr>
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "users", role: "presentation" %}</td>
            <td>System</td>
            <td></td>
          </tr>
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "suitcase-git", role: "presentation" %}</td>
            <td>System 7</td>
            <td>Modified</td>
          </tr>
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "globe", role: "presentation" %}</td>
            <td>System</td>
            <td>Modified</td>
          </tr>
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "document-code", role: "presentation" %}</td>
            <td>THINK C</td>
            <td></td>
          </tr>
          <tr class="finder-item">
            <td>{% include icon-sprite, id: "mail4", role: "presentation" %}</td>
            <td>Microsoft Outlook</td>
            <td></td>
          </tr>
          <tr class="finder-item">
            <td><div class="icon-dice" style="margin-left: 3px"></div></td>
            <td>Cairo.ttf</td>
            <td>Modified</td>
          </tr>
          <tr class="finder-scrollbar">
            <td class="scrollbox-scroll"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </dialog>
  
  <dialog id="dialog-about-elsewhere" class="window window-utility window-animated" popover="manual">
    <div class="window-handle">
      <button class="window-button button-left" popovertarget="dialog-about-elsewhere" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
      <span class="window-button button-right button-minimize"></span>
    </div>
    <div class="window-contents">
      <a href="https://github.com/cubeghost" target="_blank">{% include icon-sprite, id: "suitcase-git", role: "presentation" %} github</a>
      <a href="https://observablehq.com/user/@cubeghost" target="_blank">{% include icon-sprite, id: "document-code", role: "presentation" %} observable</a>
      <a href="https://codepen.io/cubeghost" target="_blank">{% include icon-sprite, id: "scrapbook", role: "presentation" %} codepen</a>
      <a href="https://bsky.app/profile/cubegho.st" target="_blank">{% include icon-sprite, id: "users", role: "presentation" %} bluesky</a>
      <a href="mailto:mail@cubegho.st" target="_blank">{% include icon-sprite, id: "mail4", role: "presentation" %} e-mail</a>
    </div>
  </dialog>

  <dialog id="dialog-about-picture" popover="manual" class="window window-utility window-animated" style="margin-left: 8rem;">
    <div class="window-handle">
      <button class="window-button button-left" popovertarget="dialog-about-picture" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
      <span class="window-button button-right button-minimize"></span>
    </div>
    <div class="window-contents" style="padding: 0">
      {% include retina-image, src: "/assets/20190406.png", alt: 'me', width: 128 %}
    </div>
  </dialog>

{% endblock %}

{% block footer %}
<img src="http://www.slimes.ca/WebButtons//sithappens.gif" eleventy:ignore />
{% endblock %}

{% block scripts %}

{{ block.super }}

<script type="text/javascript">
  const aboutTitleSelect = document.getElementById("about-title");
  const aboutTitleOptions = [...aboutTitleSelect.options].map(o => o.value);
  const randomButton = document.getElementById("random-about-title");
  randomButton.addEventListener("click", (event) => {
    event.preventDefault();
    randomButton.classList.add("dice-rolling");

    const currentValue = aboutTitleSelect.value;
    const otherOptions = aboutTitleOptions.filter(o => o !== currentValue);
    const randomOption = otherOptions[Math.floor(Math.random() * otherOptions.length)];

    aboutTitleSelect.value = randomOption;
  });

  randomButton.querySelector(".icon-dice").addEventListener("animationend", () => {
    randomButton.classList.remove("dice-rolling");
  });
</script>

{% endblock %}