---
eleventyExcludeFromCollections: true
title: about
---
{% assign show_donation_banner = true %}
{% assign show_webscape_controls = true %}
{% layout layouts/webscape.html %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/about.css">
{% endblock %}

{% block menubar %}
<h1><a href="{{ page.url }}" aria-current="page">about</a></h1>
{% endblock %}

{% block content %}

<div class="desktop-container">
  <div class="finder finder-icons desktop-icons">
    <a href="/">
      <figure class="finder-item">
        {%- include icon-sprite, id: "suitcase-fonts", size: 32, alt: "folder" -%}
        <figcaption>portfolio</figcaption>
      </figure>
    </a>
  </div>

  <article id="dialog-about" class="window">
    <div class="window-contents" style="display: flex; padding: 1rem; gap: 1rem;">
      <div style="flex-shrink: 0; padding: 0.5rem 1rem;">
        {%- include icon-sprite, id: "resedit", size: 32, alt: "ResEdit icon" -%}
      </div>
      <div>
        <h2 style="font-size: 1.25rem">cubegho.st</h2>
        <p>
          <button popovertarget="dialog-about-picture" class="button-link" style="vertical-align: middle">
            <strong>alex baldwin</strong>
          </button> is a&nbsp;
          <span style="display: inline-flex; align-items: center; vertical-align: middle">
            <select id="about-title" class="select-word" style="width: 164px" aria-label="title">
              <option selected>code wizard</option>
              <option>level 3000 cyberwitch</option>
              <option>computer artist</option>
              <option>software engineer</option>
              <option>creative technologist</option>
            </select>
            <button id="random-about-title" class="button-dice requires-js">
              <span class="icon-dice"></span>
              <span class="visually-hidden">randomize</span>
            </button>
          </span>
        </p>
        {% comment %} <p>who has been writing code since ~2006</p> {% endcomment %}
        <p>currently logging on from Brooklyn, NY</p>
      </div>
    </div>
  </article>

  <div class="finder finder-icons desktop-icons">
    <figure class="finder-item">
      {%- include icon-sprite, id: "resedit-open", size: 32, alt: "ResEdit icon in open state" -%}
      <figcaption>about this mac</figcaption>
    </figure>
    <button popovertarget="dialog-about-elsewhere">
      <figure class="finder-item">
        {%- include icon-sprite, id: "globe", size: 32, alt: "globe" -%}
        <figcaption>elsewhere</figcaption>
      </figure>
    </button>
    <a href="/feed.xml">
      <figure class="finder-item">
        {%- include icon-sprite, id: "news", size: 32, alt: "newspaper" -%}
        <figcaption>rss</figcaption>
      </figure>
    </a>
  </div>

</div>

<dialog id="dialog-about-elsewhere" class="window window-utility window-animated" popover="manual">
  <div class="window-handle">
    <button class="window-button button-left" popovertarget="dialog-about-elsewhere" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
    <span class="window-button button-right button-minimize"></span>
  </div>
  <div class="window-contents scrollbox" style="padding: 0">
    <ul class="combobox-list">
      <li><a href="https://github.com/cubeghost" target="_blank">{% include icon-sprite, id: "suitcase-git", size: 16, role: "presentation" %} github</a></li>
      <li><a href="https://observablehq.com/user/@cubeghost" target="_blank">{% include icon-sprite, id: "document-code", size: 16, role: "presentation" %} observable</a></li>
      <li><a href="https://codepen.io/cubeghost" target="_blank">{% include icon-sprite, id: "scrapbook", size: 16, role: "presentation" %} codepen</a></li>
      <li><a href="https://bsky.app/profile/cubegho.st" target="_blank">{% include icon-sprite, id: "users", size: 16, role: "presentation" %} bluesky</a></li>
      <li><a href="mailto:mail@cubegho.st" target="_blank">{% include icon-sprite, id: "mail4", size: 16, role: "presentation" %} e-mail</a></li>
    </ul>
    <div class="scrollbox-scroll"></div>
  </div>
</dialog>

<dialog id="dialog-about-picture" popover="manual" class="window window-utility window-animated">
  <div class="window-handle">
    <button class="window-button button-left" popovertarget="dialog-about-picture" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
    <span class="window-button button-right button-minimize"></span>
  </div>
  <div class="window-contents" style="padding: 0">
    {% include retina-image, src: "/assets/20190406.png", alt: 'me', width: 128 %}
  </div>
</dialog>

<div id="notes-container">
  <article id="dialog-about-notes" class="window">
    <div class="window-titlebar">
      <h3 class="window-titlebar-title">about this website</h3>
      <span class="window-button button-right button-zoom" style="grid-column: 4"></span>
    </div>
    <div class="window-contents">
      <div style="padding: 1rem; padding-top: 0; font-size: 0.875rem;">
        <h4 margin>technologies</h4>
        <p>this is a mostly-static site built using <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a> and serverless functions. it is currently hosted on <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>.</p>
        <p>
          <label>
            the background
            <select id="scape" class="select-word" style="width: 81px">
              <option>landscape</option>
              <option selected>webscape</option>
              <option>dreamscape</option>
              <option>bitscape</option>
            </select>
            is procedurally generated for the current date using perlin noise and JPEG artifacts.
          </label> 
          today’s seed is <code class="webscape-seed">?</code>.
          {% include webscape-links.html.liquid, label: "try it for yourself!" %}
        </p>
        <h4>visuals</h4>
        <p>
          this website’s visual language is based on the user interfaces of 
          Macintosh System 7 and OS 9, and most of the <button popovertarget="dialog-about-icons" class="button-link">icons</button> and 
          interface elements are pulled from classic Mac system software, apps, and fonts. 
        </p>
        <p>
          it is specifically inspired by the work of <a href="https://www.behance.net/susankare" target="_blank" rel="noopener">Susan Kare</a> 
          and <a href="https://en.wikipedia.org/wiki/Bill_Atkinson" target="_blank" rel="noopener">Bill Atkinson</a>.
        </p>
      </div>
      <div class="window-notepad-footer"><span></span></div>
    </div>
  </article>
</div>

<dialog id="dialog-about-icons" popover="manual">
  <div class="window" style="position: relative; z-index: 1;">
    <div class="window-titlebar">
      <button class="window-button button-left" popovertarget="dialog-about-icons" popovertargetaction="hide"><span class="visually-hidden">close</span></button>
      <span class="window-titlebar-title">icons</span>
    </div>
    <div class="window-contents">
      {%- assign icon_sources_32 = icon-sources | where: "size", 32 -%}
      <div class="window-meta"><span>{{ icon_sources_32.length }} items</span></div>
      <div class="scrollbox" style="max-height: 11.5rem;">
        <div class="finder finder-icons">
          {%- for icon in icon_sources_32 -%}
            <figure class="finder-item">
              {%- if icon.sprite -%}
                {%- include icon-sprite, id: icon.sprite, size: icon.size, alt: icon.alt -%}
              {%- else -%}
                {{ icon.icon }}
              {%-endif-%}
              <figcaption>
                {%- if icon.url -%}
                <a href="{{ icon.url }}" target="_blank" rel="noopener">{{ icon.source }}</a>
                {%- else -%}
                {{ icon.source }}
                {%- endif -%}
                {% if icon.status %}<br />({{ icon.status }}){% endif %}
              </figcaption>
            </figure>
          {% endfor %}
        </div>
        <div class="scrollbox-scroll"></div>
      </div>
    </div>
  </div>
  <div class="window" style="transform: translate(3rem, -1.5rem);">
    <div class="window-titlebar"></div>
    <table class="window-contents finder finder-list">
      <thead class="window-meta">
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col">Source</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="scrollbox">
        {%- assign icon_sources_16 = icon-sources | where: "size", 16 -%}
        {%- for icon in icon_sources_16 -%}
        <tr class="finder-item">
          <td {% if icon.style %}style="{{ icon.style}}"{% endif  %}>
          {%- if icon.sprite -%}
            {%- include icon-sprite, id: icon.sprite, size: icon.size, alt: icon.alt -%}
          {%- else -%}
            {{ icon.icon }}
          {%-endif-%}
          </td>
          <td>
            {%- if icon.url -%}
              <a href="{{ icon.url }}" target="_blank" rel="noopener">{{ icon.source }}</a>
            {%- else -%}
              {{ icon.source }}
            {%- endif -%}
          </td>
          <td>{{ icon.status | default: "" }}</td>
        </tr>
        {%- endfor -%}
      </tbody>
      <tbody class="scrollbox-scroll"></tbody>
    </table>
  </div>
</dialog>
  
{% endblock %}

{% block footer %}
<div class="badges">
  <!-- https://chrisburnell.com/note/eleventy-animated-88x31/ -->
  {% include accessible-gif, src: "/assets/88x31/built-with-eleventy.gif", src_still: "/assets/88x31/built-with-eleventy.png", alt: "built with Eleventy" %}
  <img src="/assets/88x31/sit-happens.png" alt=".sit happens" eleventy:ignore />
  <img src="/assets/88x31/1of2.png" alt="1 of 2" eleventy:ignore />
  {% include accessible-gif, src: "/assets/88x31/i-dream-in-html.gif", src_still: "/assets/88x31/i-dream-in-html.png", alt: "i dream in HTML" %}
</div>

<iframe src="/.netlify/functions/counter" class="visitors"></iframe>
{% endblock %}

{% block scripts %}

{{ block.super }}

<script type="text/javascript">
  const aboutTitleSelect = document.getElementById("about-title");
  const aboutTitleOptions = [...aboutTitleSelect.options].map(o => o.value);
  const randomButton = document.getElementById("random-about-title");
  randomButton.addEventListener("click", (event) => {
    event.preventDefault();
    randomButton.classList.add("dice-rolling");

    const currentValue = aboutTitleSelect.value;
    const otherOptions = aboutTitleOptions.filter(o => o !== currentValue);
    const randomOption = otherOptions[Math.floor(Math.random() * otherOptions.length)];

    aboutTitleSelect.value = randomOption;
  });

  randomButton.querySelector(".icon-dice").addEventListener("animationend", () => {
    randomButton.classList.remove("dice-rolling");
  });
</script>

{% endblock %}