---
title: cubegho.st
eleventyExcludeFromCollections: true
layout: false
---
{% assign show_donation_banner = true %}
{% assign show_webscape_controls = true %}
{% layout layouts/webscape.html %}

{%- block head %}
<link rel="stylesheet" href="/styles/portfolio.css">
{% endblock -%}

{% block content %}

<div class="portfolio-container">
  <div class="tree">
    <div class="node">
      <button class="node-button"></button>
      <div class="node-content">~</div>
    </div>
    {% tree collections.portfolio %}
    {% if node -%}
    {% assign id = node.url | default: node.filePathStem | slugify -%}
    {%- liquid
      if node.data.portfolio_preview
        assign preview = node.data.portfolio_preview
      elsif node.data.preview
        assign preview = node.data.preview
      else
        assign preview = nil
      endif
    -%}
    <div class="node" {% if preview and node.use_preview %}popovertarget="{{ id }}" popovertargetaction="toggle" {%endif %}>
    {% if preview and node.use_preview %}<button class="node-button" aria-labelledby="node-{{ id }}"></button>{% endif %}
      <div class="node-content" id="node-{{ id }}">
        {% pagelink node %}<span>{{ node.name | default: node.data.title }}</span>{% endpagelink %}
        {%- if node.meta %}&nbsp;{{ node.meta }}{% endif -%}
      </div>
    </div>
    {%- else -%}
    {%- assign id = nil -%}
    <div class="node">
      <div class="node-content">
        {%- if directory.url -%}
        <a href="{{ directory.url }}">{{ directory.name }}</a>
        {% else %}
        {{ directory.name }}
        {%- endif -%}
      </div>
      {% if directory.icon -%}
      <div class="node-icon">
        {%- assign icon = directory.icon -%}
        {%- if icon.sprite -%}
        {%- include icon-sprite, id: icon.sprite, size: icon.size, alt: icon.alt -%}
        {%- elsif icon.retina != false -%}
        {%- image src: icon.src, alt: icon.alt, width: icon.width, style: icon.style | default: "", class: icon.class | default: "" -%}
        {%- else -%}
        <img src="{{ icon.src }}" alt="{{ icon.alt }}" width="{{ icon.width }}" style="{{ icon.style | default: "" }}" eleventy:ignore />
        {%- endif -%}
      </div>
      {%- endif %}
    </div>
    {%- endif %}
    {% endtree %}
  </div>

  <div class="portfolio-right">
    <div class="desktop-icons">
      <div class="finder finder-icons">
        <a href="/about/">
          <figure class="finder-item" style="margin-left: auto;">
            {%- include icon-sprite, id: "resedit", size: 32, alt: "ResEdit icon" -%}
            <figcaption>about this mac</figcaption>
          </figure>
        </a>
      </div>
    </div>

    {%- assign portfolio_flat = collections.portfolio | flatten_tree -%}
    {%- for page in portfolio_flat -%}
    {%- liquid
      if page.data.portfolio_preview
        assign preview = page.data.portfolio_preview
      elsif page.data.preview
        assign preview = page.data.preview
      else
        assign preview = nil
      endif 
    -%}
    {%- if preview and page.use_preview -%}
    {%- assign id = page.url | default: page.filePathStem | slugify -%}
    <div id="{{ id }}" class="preview window window-animated window-animated-out" popover="hint">
      <div class="window-titlebar">
        <span class="window-button button-left"></span>
        <span class="window-titlebar-title">{{ page.data.title }}</span>
      </div>
      <div class="window-contents">
        {%- image src: preview.src, alt: preview.alt, width: 500 -%}
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </div>

</div>

{% endblock %}

{% block footer %}
<footer>
  {%- include counter.html.liquid -%}
</footer>
{% endblock %}

{% block scripts %}

{{ block.super }}

<script type="text/javascript">
  if (window.matchMedia("(pointer: fine)").matches) {
    const nodesWithPreviews = document.querySelectorAll(".node[popovertarget]");
    nodesWithPreviews.forEach((node, i) => {
      const target = document.getElementById(node.getAttribute("popovertarget"));
      const button = node.querySelector(".node-button");
      const link = node.querySelector(".node-content a");
      
      let timeout;
      node.addEventListener("mouseenter", (event) => {
        timeout = setTimeout(() => {
          target.showPopover({ source: node });
        }, 400);
      });
      node.addEventListener("mouseleave", (event) => {
        if (timeout) clearTimeout(timeout);
        target.hidePopover();
      });

      button.addEventListener("focus", (event) => target.showPopover());
      button.addEventListener("blur", (event) => target.hidePopover());
      link.addEventListener("focus", (event) => target.showPopover());
      link.addEventListener("blur", (event) => target.hidePopover());
    });
  }
</script>

{% endblock %}